<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Server Error</title>
    <link rel="stylesheet" th:href="@{/assets/css/app-0.0.14-RC4.min.css}">
</head>
<body class="nav-active checkout-page p-0">

<main role="main" class="wrapper wrapper-without-utility wrapper-for-error vh-100">
    <div class="container page-section-home py-0 px-3 vh-100">
        <div class="row m-0">
            <div class="container main-container-404">
                <div class="row">
                    <div class="col-12 px-0 px-md-3">
                        <div class="img-container-graphic text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="350" height="215" viewBox="0 0 500 203">
                                <defs>
                                    <clipPath id="clip-_500-page-graphic">
                                        <rect width="500" height="203"/>
                                    </clipPath>
                                </defs>
                                <g id="_500-page-graphic" data-name="500-page-graphic" clip-path="url(#clip-_500-page-graphic)">
                                    <g id="Group_49" data-name="Group 49" transform="translate(-565.182 -224.17)">
                                        <text id="_5" data-name="5" transform="translate(565.182 416.17)" fill="#ed1d41" font-size="255" font-family="OpenSans-Bold, Open Sans" font-weight="700"><tspan x="0" y="0">5</tspan></text>
                                        <text id="_0" data-name="0" transform="translate(919.182 416.17)" fill="#ed1d41" font-size="255" font-family="OpenSans-Bold, Open Sans" font-weight="700"><tspan x="0" y="0">0</tspan></text>
                                        <g id="Group_46" data-name="Group 46" transform="translate(710.11 232.344)">
                                            <g id="code" transform="translate(0 0)">
                                                <path id="Path_14" data-name="Path 14" d="M171.74,48.775a7.4,7.4,0,1,0-5.232-2.171A7.462,7.462,0,0,0,171.74,48.775Z" transform="translate(-2.097 -10.975)" fill="#e6e6e6"/>
                                                <path id="Path_15" data-name="Path 15" d="M144.75,48.775a7.4,7.4,0,1,0-5.242-2.171A7.455,7.455,0,0,0,144.75,48.775Z" transform="translate(-1.752 -10.975)" fill="#e6e6e6"/>
                                                <path id="Path_16" data-name="Path 16" d="M117.75,48.775a7.4,7.4,0,1,0-5.242-2.171A7.455,7.455,0,0,0,117.75,48.775Z" transform="translate(-1.408 -10.975)" fill="#e6e6e6"/>
                                                <path id="Path_17" data-name="Path 17" d="M202.852,10.678H7.4a7.4,7.4,0,0,0-7.4,7.4V192.446a7.4,7.4,0,0,0,7.4,7.4H202.852a7.4,7.4,0,0,0,7.4-7.4V18.082A7.4,7.4,0,0,0,202.852,10.678Zm-7.4,14.809V56.654H14.809V25.487H195.447ZM14.809,185.042V71.463H195.447V185.042Z" transform="translate(0 -10.678)" fill="#e6e6e6" stroke="#fbd1d8" stroke-width="3"/>
                                            </g>
                                            <g id="Group_45" data-name="Group 45" transform="translate(62.334 84.664)">
                                                <path id="Path_19" data-name="Path 19" d="M122.39,178.076a4.743,4.743,0,0,0,6.709,0l6.134-6.133,6.134,6.133a4.744,4.744,0,0,0,6.709-6.709l-6.133-6.134,6.133-6.134a4.744,4.744,0,0,0-6.709-6.709l-6.134,6.133L129.1,152.39a4.744,4.744,0,0,0-6.709,6.709l6.133,6.134-6.133,6.134a4.743,4.743,0,0,0,0,6.709Zm0,0" transform="translate(-121 -151)" fill="#ed1d41"/>
                                                <path id="Path_20" data-name="Path 20" d="M302.39,178.076a4.743,4.743,0,0,0,6.709,0l6.134-6.133,6.134,6.133a4.744,4.744,0,1,0,6.709-6.709l-6.133-6.134,6.133-6.134a4.744,4.744,0,1,0-6.709-6.709l-6.134,6.133L309.1,152.39a4.744,4.744,0,0,0-6.709,6.709l6.133,6.134-6.133,6.134a4.743,4.743,0,0,0,0,6.709Zm0,0" transform="translate(-244.069 -151)" fill="#ed1d41"/>
                                                <path id="Path_21" data-name="Path 21" d="M175.416,305.829a3.881,3.881,0,0,0-5.383,1.077,5.443,5.443,0,0,1-9.067,0,13.217,13.217,0,0,0-21.986,0,5.443,5.443,0,0,1-9.067,0,13.217,13.217,0,0,0-21.986,0,5.443,5.443,0,0,1-9.067,0,3.882,3.882,0,1,0-6.459,4.306,13.217,13.217,0,0,0,21.986,0,5.443,5.443,0,0,1,9.067,0,13.217,13.217,0,0,0,21.986,0,5.443,5.443,0,0,1,9.067,0,13.217,13.217,0,0,0,21.986,0,3.881,3.881,0,0,0-1.077-5.383Zm0,0" transform="translate(-91.747 -252.139)" fill="#ed1d41"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <h1 class = "font-weight-bold mt-0 primary-theme-color" th:text="#{error.page.internal.server.title}"></h1>
                        </div>
                        <div class="text-content text-center mt-3">
                            <h4 th:text="#{error.page.internal.server.description}">
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>

</html>