<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<div th:replace="header :: header"></div>

<body class="nav-active checkout-page">

<nav class="navbar navbar-main navbar-expand-lg d-flex flex-column px-0">
    <div class="container-fluid nav-container nav-container-1 px-0 h-100 py-3">
        <div class="main-logo-container nav-1">
            <a class="navbar-brand d-flex align-items-center px-0 py-0" th:href="'/webstore-v2/'+${commonResponse.businessId}">
                <img th:src="@{${commonResponse.appTheme.brandLogoUrl}}" alt="" >
            </a>
        </div>
        <input type="hidden" id="themColor" th:value="${commonResponse.appTheme.themeColor}">
    </div>
</nav>

<main role="main" class="wrapper wrapper-without-utility wrapper-for-error">
    <div class="container page-section-home pt-4 pt-md-5">
        <div class="row m-0">
            <div class="container main-container-404">
                <div class="row">
                    <div class="col-12 px-0 px-md-3">
                        <div class="img-container-graphic text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="350" height="215" viewBox="0 0 500 214">
                                <defs>
                                    <clipPath id="clip-_400-page-graphic">
                                        <rect width="500" height="214" />
                                    </clipPath>
                                </defs>
                                <g id="_400-page-graphic" data-name="400-page-graphic" clip-path="url(#clip-_400-page-graphic)">
                                    <g id="Group_51" data-name="Group 51" transform="translate(-710 -307)">
                                        <g id="Group_40" data-name="Group 40" transform="translate(857 311)">
                                            <g id="restaurant" transform="translate(0 0)">
                                                <circle id="Ellipse_1" data-name="Ellipse 1" cx="103.365" cy="103.365" r="103.365" transform="translate(0 0.001)" fill="#b0e1f5" />
                                                <circle id="Ellipse_2" data-name="Ellipse 2" cx="103.365" cy="103.365" r="103.365" transform="translate(0 0.001)" fill="#e6e6e6" />
                                                <path id="Path_1" data-name="Path 1" d="M10.693,114.059a103.337,103.337,0,0,1,170.9-78.223A103.343,103.343,0,1,0,35.836,181.589,102.95,102.95,0,0,1,10.693,114.059Z" fill="#e6e6e6" />
                                                <circle id="Ellipse_3" data-name="Ellipse 3" cx="78.415" cy="78.415" r="78.415" transform="translate(24.951 24.951)" fill="#f9f9f9" />
                                            </g>
                                            <g id="Group_39" data-name="Group 39" transform="translate(10.517 8.545)">
                                                <g id="Group_28" data-name="Group 28" transform="translate(0 40.219) rotate(-25)">
                                                    <g id="Group_26" data-name="Group 26" transform="translate(0 39.613)">
                                                        <g id="Group_25" data-name="Group 25" transform="translate(0 0)">
                                                            <path id="Path_7" data-name="Path 7" d="M13.715,114.006,63.273,2.982,57.084,0,.789,107.818a7.168,7.168,0,1,0,12.926,6.188Z" fill="#fff" stroke="#ed1d41" stroke-width="2" />
                                                        </g>
                                                    </g>
                                                    <ellipse id="Ellipse_5" data-name="Ellipse 5" cx="33.252" cy="23.833" rx="33.252" ry="23.833" transform="translate(23.356 59.912) rotate(-64.273)" fill="#fff" stroke="#ed1d41" stroke-width="2" />
                                                    <path id="Path_12" data-name="Path 12" d="M24.173,0c13.35,0,24.173,6.818,24.173,15.229S37.523,30.458,24.173,30.458,0,23.64,0,15.229,10.823,0,24.173,0Z" transform="translate(34.834 55.656) rotate(-64.273)" fill="#e6e6e6" stroke="#ed1d41" stroke-width="2" opacity="0.2" />
                                                </g>
                                                <g id="Group_34" data-name="Group 34" transform="matrix(0.921, 0.391, -0.391, 0.921, 104.038, 10.601)">
                                                    <g id="Group_30" data-name="Group 30" transform="translate(23.383 32.041)">
                                                        <g id="Group_29" data-name="Group 29" transform="translate(0 0)">
                                                            <path id="Path_9" data-name="Path 9" d="M55.993,110.986,6.351,0,0,2.621,42.76,116.487a7.168,7.168,0,1,0,13.233-5.5Z" transform="translate(0 0)" fill="#fff" stroke="#ed1d41" stroke-width="2" />
                                                        </g>
                                                    </g>
                                                    <g id="Group_33" data-name="Group 33" transform="translate(0 0)">
                                                        <g id="Group_31" data-name="Group 31">
                                                            <path id="Path_10" data-name="Path 10" d="M28.89,2.124l9.3,22.541a3.047,3.047,0,0,1-1.654,3.979h0a3.046,3.046,0,0,1-3.978-1.654L22.049,1.52A2.458,2.458,0,0,0,19.675,0h0a2.446,2.446,0,0,0-2.159,3.377l10.7,25.933a2.557,2.557,0,0,1-1.388,3.339l-1,.412a2.458,2.458,0,0,1-3.209-1.334L12.049,6.1a2.592,2.592,0,0,0-4.24-.832h0a2.6,2.6,0,0,0-.553,2.814L17.907,33.89a2.258,2.258,0,0,1-1.226,2.95l-1.457.6a2.258,2.258,0,0,1-2.949-1.226L2.983,13.7a1.026,1.026,0,0,0-1.943.142C-.852,21.173-.217,30.14,3.392,38.883,10.4,55.858,25.94,65.549,38.107,60.528S54.458,37.674,47.453,20.7C43.658,11.5,37.358,4.453,30.447.715A1.115,1.115,0,0,0,28.89,2.124Z" fill="#fff" stroke="#ed1d41" stroke-width="2" />
                                                        </g>
                                                        <g id="Group_32" data-name="Group 32" transform="translate(18.357 49.518)" opacity="0.2">
                                                            <path id="Path_11" data-name="Path 11" d="M18.676,6.287A13.042,13.042,0,0,1,5.8,6.6,18.439,18.439,0,0,1,.32,2.318a1.419,1.419,0,0,1,2.2-1.8h0c.281.341,6.976,8.3,15.356,2.936A1.419,1.419,0,1,1,19.4,5.846Q19.038,6.08,18.676,6.287Z" transform="translate(0 0)" fill="#b3b3b3" stroke="#ed1d41" stroke-width="1" />
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                        <text id="_4" data-name="4" transform="translate(710 513)" fill="#ed1d41" font-size="255" font-family="OpenSans-Bold, Open Sans" font-weight="700">
                                            <tspan x="0" y="0">4</tspan>
                                        </text>
                                        <text id="_4-2" data-name="4" transform="translate(1064 513)" fill="#ed1d41" font-size="255" font-family="OpenSans-Bold, Open Sans" font-weight="700">
                                            <tspan x="0" y="0">4</tspan>
                                        </text>
                                    </g>
                                </g>
                            </svg>
                            <h1 class = "font-weight-bold mt-0 primary-theme-color" th:text="#{error.page.notfound.title}"></h1>
                        </div>
                        <div class="text-content text-center mt-3">
                            <h4 th:text="#{error.page.notfound.description}"></h4>
                            <a class = "btn btn-primary" th:href="'/webstore-v2/'+${commonResponse.businessId}"
                            th:text="#{error.page.notfound.go.to.home}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery-ui.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/app-0.3.0-RC1.js}"></script>

<script th:inline="javascript">
    let themeColor = /*[[${commonResponse.appTheme.themeColor}]]*/ 'default';
    document.documentElement.style.setProperty('--primary-theme-color', themeColor);
</script>
</body>

</html>