<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:replace="error_header :: header"></div>

<body class="nav-active">

<!--<div th:replace="navigation :: navigation"></div>-->

<main role="main" class="wrapper">
    <div class="container-fluid">


        <div class="container-fluid">
            <div class="row">

                <div class="container">
                    <div class="cart-wrapper py-5 success-msg-area">
                        <div class="row m-0 msg-border">
                            <div class="col-12 px-3 px-md-0">
                                <div class="card border-0 bg-danger p-4 msg-content">
                                    <div class="card-img p-4">
                                        <img class="w-100" th:src="@{/assets/img/ico-wrong.svg}" alt="" height="150px">
                                    </div>
                                    <div class="text-center">
                                        <h4 class="text-white font-weight-bold mb-0"
                                            th:text="#{business_error_view.message.try.again}"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 px-3 px-md-0">
                         <div class="d-flex flex-wrap flex-column h-100 bg-light p-4 msg-content">
                                <div class = "text-center mb-3">
                                    <h5 class="font-weight-normal mb-1">
                                        <span th:text="#{business_error_view.message.one}"></span>
                                        <span th:text="#{business_error_view.message.two}"></span>
                                    </h5>
<!--                                    <h5 class="font-weight-bold">Cherrybite - Howard Street</h5>-->
                                </div>

<!--                                <div class="btn-inline mt-4 mt-sm-auto text-center">-->
<!--                                    <a href="#" class="btn btn-primary mr-2">Continue Shopping</a>-->
<!--                                    <a href="#" class="btn btn-outline-secondary">View Order</a>-->
<!--                                </div>-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>


    </div>


</main>



<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery-ui.js}"></script>
<script th:src="@{/assets/js/jscript-1.14.0-sdb.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/app-0.3.0-RC1.js}"></script>


</body>
</html>