<div th:fragment="reserveRoomFragment"
     xmlns:th="http://www.thymeleaf.org" id="reserveRoomFragment">

    <form>

        <input type="hidden" class="form-control" id="room_id">

        <div class="form-group">
            <label for="eventTitle" class="font-weight-600">Event Title</label>
            <input type="text" class="form-control" id="eventTitle" aria-describedby="emailHelp"
                   placeholder="Enter Title">

        </div>

        <div class="form-group">
            <label for="hostBy" class="font-weight-600">Presided by</label>
            <input type="text" class="form-control" id="hostBy" aria-describedby="emailHelp"
                   placeholder="Presided by">
        </div>

        <div class="form-group">
            <label for="hostBy" class="font-weight-600">Rooms</label>
            <select id="rooms"
                    class="form-control"
                    name="endHour">
                <option value="">Select Room</option>
                <option th:each="room : ${rooms}" th:value="${room.roomId}" th:text="${room.roomName}"></option>
            </select>
        </div>


        <div class="form-group" id="date-picker-start">
            <label for="reservationDate" class="font-weight-600">Reservation Date</label>
            <div class="row">
                <div class="col-12">
                    <input type="text" name="reservationDate"
                           id="reservationDate"
                           class="datepicker form-control"
                           autocomplete="off">
                </div>


            </div>
        </div>


        <div class="form-group" id="date-picker-end">
            <label for="startDate" class="font-weight-600">Time</label>
            <div class="row">
                <div class="col-6">
                    <select id="startHour"
                            class="form-control"
                            name="startHour">
                    </select>
                </div>

                <div class="col-6">
                    <select id="endHour"
                            class="form-control"
                            name="endHour">
                    </select>
                </div>
            </div>
        </div>


        <div class="form-group" id="participants_div">
            <label for="participants" class="font-weight-600">Participants</label>
            <textarea class="form-control" rows="3"
                      id="participants"></textarea>

        </div>


        <button type="button" class="btn btn-primary" onclick="saveReservation()">Submit</button>
    </form>

</div>



