<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="header :: header"></head>

<body class="nav-active">

<div th:replace="navigation :: navigation"></div>

<style>

    .error{
        color : red
    }

</style>

<main role="main" class="wrapper">
    <div class="container page-section-home">
        <div class="row">
            <div class="col-4">
                <div th:replace="reserveRoomFragment :: reserveRoomFragment" id="reserveRoomFragment">

                </div>
            </div>

        </div>
    </div>
</main>

<div th:replace="footer :: footer"></div>

<script th:src="@{/assets/js/reservation.js}"></script>


</body>
</html>




