<div class="row m-0 cross-sell-checkout-container mb-2">
    <div class="col-12 px-0">
        <h4 class="page-title mb-4"></h4>
    </div>
    <div class="col-12 px-0">



        <div class="owl-carousel item-slider-cross-sell category-listing list-view m-0 p-0 category-listing-upsell cross-sell-component mt-3 owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage"
                     style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 839px;"><div class="owl-item active" style="width: 399.5px; margin-right: 20px;"><div class="item w-100 card-responsive-wrapper px-0">
                <div class="card card-item h-100">

                    <div class="card-img-product  product-no-img">
                        <a href="/webstore-v2/BIZ_5mu3d91p6ac/products/PRD_12u620bl7dd" class="product-detail-link">


                            <h5 class="card-title-placeholder" style="color: rgb(255, 255, 255);">Soda</h5>
                            <img id="product-placeholder-black-featured" class="placeholder-img" src="/webstore-v2/assets/img/placeholder-product-black.svg" alt="alter">
                            <img id="product-placeholder-white-featured" class="placeholder-img" src="/webstore-v2/assets/img/product-placeholder-white.svg" alt="alter">
                        </a>
                    </div>
                    <div class="card-body product-content">
                        <div class="product-detail">
                            <h5 class="card-title">Soda</h5>
                            <a href="/webstore-v2/BIZ_5mu3d91p6ac/products//PRD_12u620bl7dd" class="card-text">More Details</a>
                        </div>
                        <div class="card-footer px-0">
                            <!--<div class="d-flex align-items-end">-->
                            <p>$0.00</p>
                            <button data-toggle="modal" onclick="getProduct(&quot;PRD_12u620bl7dd&quot;)" class="btn btn-primary ml-auto
                                              ">Add to Cart</button>
                            <!-- </div>-->
                        </div>
                    </div>
                </div>

            </div></div><div class="owl-item active" style="width: 399.5px; margin-right: 20px;"><div class="item w-100 card-responsive-wrapper px-0">
                <div class="card card-item h-100">

                    <div class="card-img-product  product-no-img">
                        <a href="/webstore-v2/BIZ_5mu3d91p6ac/products/PRD_13l6220r7dd" class="product-detail-link">


                            <h5 class="card-title-placeholder" style="color: rgb(255, 255, 255);">Coca Cola</h5>
                            <img id="product-placeholder-black-featured" class="placeholder-img" src="/webstore-v2/assets/img/placeholder-product-black.svg" alt="alter">
                            <img id="product-placeholder-white-featured" class="placeholder-img" src="/webstore-v2/assets/img/product-placeholder-white.svg" alt="alter">
                        </a>
                    </div>
                    <div class="card-body product-content">
                        <div class="product-detail">
                            <h5 class="card-title">Coca Cola</h5>
                            <a href="/webstore-v2/BIZ_5mu3d91p6ac/products//PRD_13l6220r7dd" class="card-text">More Details</a>
                        </div>
                        <div class="card-footer px-0">
                            <!--<div class="d-flex align-items-end">-->
                            <p>$0.00</p>
                            <button data-toggle="modal" onclick="getProduct(&quot;PRD_13l6220r7dd&quot;)" class="btn btn-primary ml-auto
                                              ">Add to Cart</button>
                            <!-- </div>-->
                        </div>
                    </div>
                </div>

            </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev disabled"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next disabled"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>
        <hr>
    </div>
</div>