<div class="row m-0 cross-sell-checkout-container mb-2"
     xmlns:th="http://www.thymeleaf.org" th:fragment="checkout_cross_sell"
     th:if="${not #lists.isEmpty(recommendedProductList)}">
    <div class="col-12 px-0">
        <h4 class="page-title mb-4" th:text="${crossSellTitle}"></h4>
    </div>
    <div class="col-12 px-0">

        <div class="owl-carousel item-slider-cross-sell category-listing list-view m-0 p-0 category-listing-upsell cross-sell-component mt-3">

            <div class="owl-stage-outer">
                <div class="owl-stage"
                     style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 417px;">
                        <div class="item w-100 card-responsive-wrapper px-0"
                             th:each="product : ${recommendedProductList}">
                            <div class="card card-item h-100">

                                <div class="card-img-product "
                                     th:classappend="${product.images == null or #lists.isEmpty(product.images) ? 'product-no-img':''}">
                                    <a th:href="@{'/'+${businessId}+'/products/'+${product.productId}}"
                                       class="product-detail-link">
                                        <img class="w-100" th:src="${product.images[0]}"
                                             th:alt="alter"
                                             th:if="${product.images != null and not #lists.isEmpty(product.images)}">

                                        <h5 th:if="${product.images == null or #lists.isEmpty(product.images)}"
                                            class="card-title-placeholder" th:text="${product.name}">
                                        </h5>
                                        <img th:if="${product.images == null or #lists.isEmpty(product.images)}"
                                             id="product-placeholder-black-featured"
                                             class="placeholder-img"
                                             th:src="@{/assets/img/placeholder-product-black.svg}" th:alt="alter">
                                        <img th:if="${product.images == null or #lists.isEmpty(product.images)}"
                                             id="product-placeholder-white-featured"
                                             class="placeholder-img"
                                             th:src="@{/assets/img/product-placeholder-white.svg}" th:alt="alter">
                                    </a>
                                </div>
                                <div class="card-body product-content">
                                    <div class="product-detail">
                                        <h5 class="card-title" th:text="${product.name}"></h5>
                                        <a href="product_detail.html" class="card-text"
                                           th:href="@{'/'+${businessId}+'/products/'+'/'+${product.productId}}"
                                           th:text="#{add_to_cart.card.more.details}">
                                        </a>
                                    </div>
                                    <div class="card-footer px-0">
                                        <!--<div class="d-flex align-items-end">-->
                                        <p th:text="${commonResponse.appTheme.currency}+${#numbers.formatDecimal(product.displayPrice, 1, 2, 'POINT')}"
                                           th:if="${!commonResponse.appTheme.productPricingDisabled}"/>
                                        <button data-toggle="modal"
                                                th:classappend="|${product.allVariantOutOfStock ? disabled : ''}
                                            ${commonResponse.appTheme.productPricingDisabled ? 'w-100' : ''}  |"
                                                th:disabled="${product.allVariantOutOfStock}"
                                                th:onclick="getProduct([[${product.productId}]])"
                                                class="btn btn-primary ml-auto"
                                                th:if="${commonResponse.purchaseAllowed}"
                                                th:text="${product.allVariantOutOfStock} ? #{add_to_cart.modal.stock_out.button.label} : #{add_to_cart.modal.add_to_cart.button.label}">
                                        </button>
                                        <!-- </div>-->
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

        </div>
        <hr>
    </div>
</div>